@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(196, 204, 207);
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    list-style-type: none;
    line-height: 2;
   }

a {
    text-decoration: none;
    color: black;
} 

p {
    margin-right: 15px;
}

.text {
    margin-left: 30px;
}

.container{
    font-family: "Arsenal SC", sans-serif;;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    display: flex;
}

.left {
    width: 30%;
    background-color: rgb(170, 193, 222);
}

.container_avatar {
    text-align: center;
    margin-top: 25px;
}

.avatar {
    border-radius: 120px;      
}

.list_element {
    display: flex;
    align-items: center;
}

.list_img {
    padding-top: 7px;
    padding-right: 15px;
}

.lang {
    width: 80px;
}

.skill {
    width: 170px;
}

.key_skill {
    width: 100%;
}

.circle {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    border-radius: 8px;
    border: 1px solid DimGrey;
}

.lock{
    background-color: DimGrey;
}

.right {
    width: 70%;
}

.line {
    height: 1px;
    width: 50%;
    margin: 40px auto;
    background-color: black;
}

@media screen and (max-width: 1280px) {

p {
    margin-left: 15px;
}
h1, h2 {
    text-align: center;
}
.title_tablet {
    margin-left: 15px;
}
.container {
    flex-direction: column;
}
.left {
    width: 100%;
}
.right {
    width: 100%;
}
.tablet {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text {
    margin-left: 0;
}
.key_skill {
    margin-left: 15px;
}

}

@media screen and (max-width: 520px) {

.tablet{
    justify-content: start;
    margin-left: 25px;
}
}
